*{
    padding: 0;
    margin: 0;
}

.main-section{
    padding: 20px;
    margin: 20px;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-5{
    margin-top: 10px;
}

.first-div{
    padding: 20px;
    border: 2px solid black;
    line-height: 25px;
}
.mt-30{
    margin-top: 30px;
}

.mt-10{
    margin-top: 10px;
}

.ms-20{
    margin-left: 20px;
}